.burger--menu--item {
  font-family: Gordita;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 35px;
  
}

.bm-burger-button {
  position: relative;
  width: 25px;
  height: 15px;
  margin-left: 15px;
  margin-top: 13px;
}

.bm-burger-bars {
  background: rgb(29, 29, 29);
  border-radius: 2px;
}


.bm-menu {
  position: fixed;
  top: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background-color: transparent;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  z-index: 999;
}

.bm-overlay {
    visibility: hidden;
}

.bm-menu-wrap{
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background-color: transparent;
  font-size: 1.15em;
}



.bm-menu-item {
  display: inline-block;
  color: #b8b7ad;
  margin-bottom: 10px;
}

.bm-menu-item:hover {
  color: #000;
}
