@font-face {
  font-family: Gordita;
  src: url("./font/GorditaRegular.woff");
}

.body {
  
  box-sizing: border-box;
  margin: 0px;
  max-width: 50px;
background-color: rgb(249, 245, 242);
}

h1{
  font-weight: 500;
}

h2{
  font-weight: 400;
}